.comtainer {
  width: 100%;
  position: relative;
}

.wrapper {
  position: absolute;
  top: 13%;
  left: 20%;
  width: 6px;
  height: 6px;
  margin-right: 15px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
}
