@import "./styles/variables.scss";

.container {
  overflow: hidden;
  z-index: -1;
  background-color: aqua;
}

.wrapper {
  .BgStyle {
    position: absolute;
    top: -30%;
    left: 0%;
  }

  .cityIconStyle {
    position: absolute;
    top: 55%;
    right: 34%;
    width: 6px;
    height: 6px;
    @include mq(md) {
      top: 50%;
      right: 40%;
    }
  }

  .ReadingPeopleIconStyle {
    position: absolute;
    top: 0%;
    left: 8%;
    width: 6px;
    height: 6px;
    @include mq(md) {
      top: -3%;
      left: 3%;
    }
  }
}
