@import "../../../styles/variables.scss";

.container {
  width: 100%;
}

.breadcrumb {
  margin-bottom: 20px;
  padding: 0.3rem 0 0.3rem 1rem;
  list-style: none;
}

.crumbitem {
  position: relative;
  display: inline;
  margin-right: 20px;
  font-size: small;
  a {
    color: #676767;
    &:hover {
      text-decoration: underline;
    }
  }
  &::after {
    position: absolute;
    content: ">";
    bottom: -1px;
    right: -15px;
  }
  &:last-child::after {
    content: "";
  }
}
