@import "../../styles/variables.scss";

.container {
  display: flex;
  padding: 13rem 0;
}

.wrapper {
  width: 800px;
  height: 400px;

  margin: 2rem auto;
  position: relative;

  @include mq(md) {
    width: 100%;
  }
}
