@import "../../styles/variables.scss";

.wrapper {
  width: 800px;
  height: 400px;

  margin: 2rem auto;
  margin-bottom: 13rem;
  position: relative;

  .pickuplogo {
    text-align: center;
    font-size: 2.6rem;
    letter-spacing: 0.2rem;
    font-family: "Secular One", sans-serif;
  }

  @include mq(md) {
    width: 100%;
    margin-bottom: 15rem;
  }

  @include mq(sm) {
    width: 100%;
    margin-bottom: 9.5rem;
  }
}
