@import "../../../styles/variables.scss";

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.3rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 30;
  // @include mq(md) {
  //   justify-content: center;
  // }
}

.container_defalut {
  @extend .container;
  background-color: #ffffff;
}

.container_scroll {
  @extend .container;
  background-color: rgba(255, 255, 255, 0.6);
}

.title {
  margin: 0;
  font-size: 2rem;
  color: #272727;
  @include mq(md) {
    font-size: 1.7rem;

    text-align: center;
  }
}

.iconbutton,
.mailbutton {
  display: none;
  background: none;
  border: none;
  padding-top: 8px;
  cursor: pointer;
  @include mq(md) {
    display: flex;
  }
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  @include mq(md) {
    display: none;
  }
  li {
    a {
      display: block;
      position: relative;
      padding: 0 1.8rem;
      color: #1d1d1d;
      &:hover::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -25%;
        width: 60%;
        height: 2px;
        background: #1d1d1d;
        transform: translateX(-50%);
        animation: border_anim 0.5s linear forwards;
      }
    }
  }
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
