@import '../../../styles/variables.scss';

.main {
  width: 100%;
  max-width: 1145px;
  min-height: 80vh;

  margin: 0 auto;
  padding: 3rem 0;
  @include mq(md) {
    padding: 1.88rem 0;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;

  @include mq(lg) {
    justify-content: center;
    flex-direction: column;
  }
}

// .container {
//   width: 78%;
//   padding: 0 1rem;
//   @include mq(lg) {
//     width: 100%;
//     padding: 0 0.2rem;
//   }
// }
